/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgb(11, 114, 97);
  --ifm-color-primary-dark: rgb(11, 114, 97);
  --ifm-color-primary-darker: rgb(11, 114, 97);
  --ifm-color-primary-darkest: rgb(11, 114, 97);
  --ifm-color-primary-light: rgb(11, 114, 97);
  --ifm-color-primary-lighter: rgb(11, 114, 97);
  --ifm-color-primary-lightest: rgb(11, 114, 97);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: rgb(11, 114, 97);
  --ifm-color-primary-dark: rgb(11, 114, 97);
  --ifm-color-primary-darker: rgb(11, 114, 97);
  --ifm-color-primary-darkest: rgb(11, 114, 97);
  --ifm-color-primary-light: rgb(11, 114, 97);
  --ifm-color-primary-lighter: rgb(11, 114, 97);
  --ifm-color-primary-lightest: rgb(11, 114, 97);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.ch-editor-frame {
  height: 100% !important;
  max-height: 100% !important;
}

@media (min-width: 1440px) {
  .container {
    max-width: 95% !important;
  }

  .ch-scrollycoding-content {
    max-width: 40% !important;
  }

  .ch-scrollycoding-sticker {
    width: 60% !important;
  }
}

img {
  width: auto;
  height: auto;
}